mixin topicItem(name, link)
  li(class="#{path == link ? 'active' : ''}")
    a(href="#{link}") #{name}
if tag
  h4 #{tag.name}
  p #{tag.description}
  a.btn(href="/topic/create/#{tag.name}")
    i.icon-pencil
    strong Write
  span 
  // a.btn(href='#')
    i.icon-edit
    strong Edit
  span 
  // a.btn(href='#')
    i.icon-trash
    strong Delete
  span 
  // a.btn(href='#')
    i.icon-align-justify
    strong List
else
  h4 error

if hotTopics && hotTopics.length > 0
  hr
  ul
    each topic in hotTopics
      +topicItem(topic)
if noReplyTopics && noReplyTopics.length > 0
  hr
  ul
    each topic in noReplyTopics
      +topicItem(topic)
  
if topics && topics.length > 0
  hr
  include ../topic/list
else
  hr
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at orci sit amet velit interdum rutrum sit amet at tellus. Sed posuere tortor vitae ipsum volutpat, ac luctus augue vulputate. Sed faucibus cursus quam vel adipiscing. Donec ut porta leo, eu sagittis libero. Aliquam semper purus vitae dui tincidunt, vel rhoncus felis sodales. Nullam neque nibh, interdum et fermentum bibendum, tempus ut orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio tellus, facilisis quis euismod vitae, malesuada a odio. Nunc mattis consequat tortor. Mauris eget ante sit amet enim cursus condimentum at ut urna.
  p Aliquam ultricies, eros sed ultricies mollis, erat massa dignissim dolor, ac dictum augue dolor at odio. Sed condimentum metus nec volutpat imperdiet. In interdum urna at libero pretium, eget pretium felis mollis. Quisque dignissim viverra ante. Phasellus eu tristique diam, id consectetur sem. Phasellus ut massa et lectus ullamcorper rhoncus. Aenean mattis viverra risus. Vestibulum pharetra dolor et commodo porta. Fusce eget sem eget purus consequat fringilla ut a dolor.
  p Nulla facilisi. Sed sed elementum enim. Quisque iaculis hendrerit tellus, nec fermentum sem lacinia vel. Nulla vitae dolor justo. Morbi et pellentesque mi, vel scelerisque metus. Duis at odio quis felis venenatis mollis. Integer at lectus metus. Nullam a dolor egestas, mollis lectus eget, pretium mi. In augue orci, aliquet varius egestas et, accumsan ac quam.
  p Sed felis magna, ultrices eu metus ac, pellentesque accumsan risus. Quisque aliquet purus ut mauris molestie, ut vehicula sapien tempus. Integer bibendum eget dui a aliquet. Donec vehicula justo ipsum, ut aliquet mauris suscipit quis. Nam sit amet lacus nec magna pellentesque placerat. Pellentesque vulputate, augue quis lacinia aliquet, turpis est varius magna, quis elementum dolor est eget risus. Donec scelerisque fermentum aliquet. Mauris eu iaculis quam. Sed vehicula vestibulum lacus, et elementum quam mattis ut. Suspendisse non aliquam lacus, ac consequat nulla. Donec blandit lobortis neque ut pretium. Quisque mauris sapien, suscipit ac vulputate quis, congue quis ligula.
  p Ut cursus tempor ultrices. Sed auctor eget nunc a mattis. Curabitur vitae porta turpis. Sed lobortis, sapien et facilisis dignissim, magna velit egestas risus, at lobortis elit est sit amet massa. Aenean nisl leo, bibendum in dolor at, feugiat blandit purus. Nullam odio dui, malesuada a vestibulum id, auctor ac ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque, ante a tincidunt blandit, mi dolor pulvinar ligula, at vehicula neque metus hendrerit dolor. Aliquam ultricies erat risus, id dictum nisl pulvinar ac. Aenean facilisis ante sed luctus tempus. Cras facilisis vitae odio eget faucibus. Maecenas convallis, neque eget euismod viverra, purus tellus tincidunt risus, a sollicitudin mauris odio mollis dolor. Quisque erat odio, tincidunt vel pulvinar non, commodo vitae massa. Curabitur eu velit scelerisque, interdum leo id, tristique risus.
